@font-face {
  font-weight: normal;
  font-family: "PT Sans Regular";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "PT Sans Bold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
body {
  min-width: 320px;
  font-family: "PT Sans Regular", "Arial", sans-serif;
  background-color: #f2f2f2;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 49px -25px #000000;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-reset {
  margin: 0;
  padding: 0;
}
.index-central {
  margin: 0 auto;
  max-width: 940px;
}
.page-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.page-header__wrapper {
  position: relative;
  margin-top: -29.7px;
  order: 1;
  width: 100%;
  min-height: 389px;
  background-image: url(../img/text-index-mobile.svg), url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center 90px, center 0px;
  background-size: 282px 214px, 768px auto;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__wrapper {
    background-image: url(../img/text-index-mobile.svg), url(../img/bg-back-mobile@2x.jpg);
  }
}
.page-header__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 26px;
  background: linear-gradient(to bottom left, transparent 50%, #ffffff 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #ffffff 50.9%) right / 51.5% 100% no-repeat;
}
.page-header__logo {
  text-align: center;
  z-index: 2;
}
.inner-page .page-header__wrapper {
  min-height: 158px;
  background-image: url(../img/inner-text-mobile.svg), url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center 52px, center -231px;
  background-size: 229px 39px, 768px auto;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    margin-top: 0px;
    min-height: 518px;
    background-image: url(../img/text-index-tablet.svg), url(../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center 77px, center 0px;
    background-size: 460px 350px, 1200px auto;
  }
  .page-header__wrapper::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 38px;
    background: linear-gradient(to bottom left, transparent 50%, #ffffff 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #ffffff 50.9%) right / 51.5% 100% no-repeat;
  }
  .page-header__wrapper::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    width: 706px;
    height: 58px;
    background: linear-gradient(to bottom left, transparent 50%, #ffffff 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #ffffff 50.9%) right / 51.5% 100% no-repeat;
  }
  .inner-page .page-header__wrapper {
    min-height: 290px;
    background-image: url(../img/inner-text-tablet.svg), url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center 95px, center -276px;
    background-size: 457px 78px, 1200px auto;
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__wrapper {
    background-image: url(../img/text-index-tablet.svg), url(../img/bg-back-desktop@2x.jpg);
  }
}
.main-nav {
  position: relative;
}
.main-nav {
  order: -1;
}
@media (max-width: 767px) {
  .main-nav--opened .main-nav__list {
    display: block;
  }
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
.main-nav__wrapper {
  background-color: #81b3d2;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px 0px rgba(1, 1, 1, 0.2);
}
.site-list__item a {
  display: block;
  padding: 7px 25px;
  font-family: "PT Sans Bold";
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
.site-list__item:first-child {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px 0px rgba(1, 1, 1, 0.2);
}
.site-list__item:last-child {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 4px 0px rgba(1, 1, 1, 0.2);
}
.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  display: block;
  padding: 0;
  width: 23px;
  height: 21px;
  background: none;
  border: none;
  z-index: 3;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 9.5px;
  width: 4px;
  height: 28px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 9.5px;
  width: 4px;
  height: 28px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}
.main-nav--nojs .main-nav__list {
  display: block;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
@media (min-width: 768px) {
  .page-header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__wrapper {
    background-color: transparent;
  }
  .main-nav__list {
    min-height: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .site-list__item {
    width: 20%;
    box-shadow: none;
  }
  .site-list__item a {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }
  .site-list__item:nth-child(-n+8) {
    width: 20.1%;
  }
  .site-list__item:nth-child(3),
  .site-list__item:nth-child(7) {
    margin-left: 19.6%;
  }
  .site-list__item:first-child {
    box-shadow: none;
  }
  .site-list__item:last-child {
    box-shadow: none;
  }
  .main-nav--nojs .main-nav__list {
    display: flex;
  }
}
.features__wrapper {
  max-width: 500px;
  padding: 0px 25px;
  margin: 39px auto 42px;
}
.features__city {
  display: block;
  margin-bottom: 29px;
  font-family: "PT Sans Bold";
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.features__reason {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular";
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 767px) {
  .features__list::before {
    content: "";
    position: absolute;
    top: -16px;
    width: 100%;
    height: 16px;
    background: linear-gradient(to bottom left, transparent 50%, #81b3d2 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #81b3d2 50.9%) right / 51.5% 100% no-repeat;
  }
}
.features__items-wrapper {
  position: relative;
  padding: 29px 32px;
  max-width: 512px;
  margin: 0px auto;
  box-sizing: border-box;
}
.features__items-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
  height: 1px;
  background-color: #d6d6d6;
}
@media (min-width: 550px) {
  .features__items-wrapper::after {
    width: 100%;
  }
}
.features__item:nth-child(n+3) {
  background-color: #eeeeee;
}
.features__item:last-child .features__items-wrapper::after {
  content: none;
}
.features__text-wrapper {
  padding: 39px 20px 41px;
  background-color: #81b3d2;
}
.features__title {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Bold";
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.features__number,
.features__desc {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular";
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.features__number {
  display: block;
  padding: 10px 0px 18px;
}
.features__title--color {
  color: #000000;
}
.features__text-color {
  color: #333333;
}
.features_wrapper-picture {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
  background-color: #ededed;
}
.features__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 37px 20px 7px 70px;
  display: flex;
  flex-direction: column;
  max-width: 512px;
  margin: 0 auto;
  box-sizing: border-box;
}
.features__sublist-item {
  position: relative;
  margin-bottom: 31px;
}
.features__sublist-title {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  font-family: "PT Sans Bold";
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.features__sublist-desc {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular";
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
}
.features__sublist-house::before {
  content: "";
  position: absolute;
  top: -8.2px;
  left: -48px;
  width: 39px;
  height: 37px;
  background-image: url('../img/icon-house.svg');
}
.features__sublist--food {
  order: 1;
}
.features__sublist--food::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -52px;
  width: 40px;
  height: 35px;
  background-image: url('../img/icon-food.svg');
}
.features__sublist--souvenir::before {
  content: "";
  position: absolute;
  top: -10.2px;
  left: -45px;
  width: 32px;
  height: 38px;
  background-image: url('../img/icon-souvenir.svg');
}
@media (min-width: 768px) {
  .features__wrapper {
    margin: 48px auto 49px;
  }
  .features__city {
    font-size: 21px;
    margin-bottom: 30px;
  }
  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .features__item:nth-child(n+3) {
    width: 33.33333333%;
  }
  .features__item-wrapper {
    display: flex;
  }
  .features__text-wrapper {
    width: 33.33333333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
  .features__title {
    font-size: 21px;
  }
  .features__number {
    padding: 12px 0px 24px;
  }
  .features_wrapper-picture {
    width: 66.66666667%;
  }
  .features__picture {
    width: 100%;
    height: 256px;
  }
  .features__text-wrapper--sort {
    order: 1;
  }
  .features__sublist {
    margin-left: -7.553%;
    padding: 161px 48px 41px;
    max-width: none;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .features__sublist-item {
    margin-left: 7.553%;
    margin-bottom: 20px;
    width: 25.3%;
  }
  .features__sublist-house::before {
    top: -99px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 73px;
    background-image: url('../img/icon-house-tablet.svg');
  }
  .features__sublist--food {
    order: 0;
  }
  .features__sublist--food::before {
    top: -99px;
    left: 50%;
    transform: translateX(-50%);
    width: 77px;
    height: 69px;
    background-image: url('../img/icon-food-tablet.svg');
  }
  .features__sublist--souvenir::before {
    top: -99px;
    left: 50%;
    transform: translateX(-50%);
    width: 63px;
    height: 76px;
    background-image: url('../img/icon-souvenir-tablet.svg');
  }
  .features__sublist-title {
    margin-bottom: 20px;
    font-size: 21px;
    text-align: center;
  }
  .features__sublist-desc {
    text-align: center;
  }
  .features__items-wrapper {
    padding: 47px 49px 45px;
  }
  .features__items-wrapper::after {
    content: none;
  }
}
.beinterestedin {
  margin: 0 auto;
  padding: 0px 20px 49px;
  max-width: 512px;
  box-sizing: border-box;
}
.beinterestedin__title {
  display: block;
  margin-bottom: 23px;
  font-family: "PT Sans Bold";
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.beinterestedin__desc {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-family: "PT Sans Regular";
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.beinterestedin__desc--br {
  display: none;
}
.beinterestedin__button {
  display: block;
  width: 100%;
  padding: 16px 20px;
  font-family: "PT Sans Bold";
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  background-color: #81b3d2;
  box-sizing: border-box;
  cursor: pointer;
}
@media (min-width: 768px) {
  .beinterestedin {
    padding: 56px 0px 58px;
    max-width: 458px;
  }
  .beinterestedin__title {
    font-size: 30px;
    margin-bottom: 36px;
  }
  .beinterestedin__desc--br {
    display: block;
  }
}
.map__wrapper {
  width: 100%;
  height: 350px;
  background: url(../img/icon-map-marker.svg) no-repeat, url(../img/bg-map-desktop@1x.jpg) no-repeat #eeeeee;
  background-size: 27px 27px, auto 350px;
  background-position: 50% 49.5%, 50% 46.5%;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .map__wrapper {
    background: url(../img/icon-map-marker.svg) no-repeat, url(../img/bg-map-desktop@2x.jpg) no-repeat #eeeeee;
    background-size: 27px 27px,
			auto 350px;
    background-position: 50% 49.5%, 50% 46.5%;
  }
}
.iframe-map {
  width: 100%;
}
.photos__data-wrapper {
  padding: 40px 20px 30px;
}
.photos__title {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-family: "PT Sans Bold";
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.photos__desc {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular";
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.photos__item {
  display: flex;
  justify-content: center;
  padding: 22px 0px 17px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.photos_wrapper-picture {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-size: 0;
  line-height: 0;
}
.photos__title-picture {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  font-family: "PT Sans Bold";
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}
.photos__author-name {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  display: block;
  font-family: "PT Sans Regular";
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-align: left;
}
.photos__like-wrapper {
  display: flex;
  align-items: center;
}
.like__button {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
}
.photos__count {
  position: relative;
  display: block;
  margin-left: 16px;
  font-family: "PT Sans Bold";
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
.page-footer {
  padding: 38px 0px 23px;
}
.page-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .page-footer-wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}
.page-footer__hashtag {
  display: block;
  font-family: "PT Sans Bold";
  font-size: 21px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 38px 0px 34px -6px;
  width: 162px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (min-width: 600px) {
  .social__list {
    margin: 0;
  }
}
.social__item {
  margin-left: 6px;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.page-footer__copyright {
  display: flex;
  align-items: center;
}
.page-footer__copyright-text {
  display: block;
  margin-top: -5px;
  margin-right: 11px;
  font-family: "PT Sans Regular";
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.page-footer__copyright-link {
  font-size: 0;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 36px 0px 30px;
  }
  .social__list {
    margin-left: -15px;
  }
}
