.beinterestedin {
	margin: 0 auto;
	padding: 0px 20px 49px;

	max-width: @width-to-tablet;

	box-sizing: border-box;

}

.beinterestedin__title {
	display: block;
	margin-bottom: 23px;

	font-family: "PT Sans Bold";
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.beinterestedin__desc {
	.text-reset;
	margin-bottom: 35px;

	font-family: "PT Sans Regular";
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
}

.beinterestedin__button {
	display: block;
	width: 100%;
	padding: 16px 20px;

	font-family: "PT Sans Bold";
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;

	border: 0;
	background-color: #81b3d2;
	box-sizing: border-box;
	cursor: pointer;
}
