.comments__text-wrapper {
	padding: 37px 20px 19px;
	margin: 0 auto;

	max-width: 435px;
}

.comments__title {
	.text-reset;
	margin-bottom: 30px;

	font-family: "PT Sans Bold";
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.comments__desc {
	.text-reset;

	font-family: "PT Sans Regular";
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
}

.comments__form {
	display: flex;
	flex-direction: column;
}

.comments-wrapper {
	padding-top: 20px;

	border-top: 1px solid #e5e5e5;
}

.comments__fieldset {
	margin: 0;
	padding: 0px 20px;
	border: 0;
}

@media (max-width:767px) {
	.comments__introduce {
		margin-bottom: 25px;
	}
}

.comments__form-title {
	font-family: "PT Sans Bold";
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.introduce__list {
	.list-reset;
	margin-top: 21px;
}

.introduce__item {
	margin-bottom: 20px;

	display: flex;
	align-items: center;

	&:last-child {
		margin-bottom: 0;
	}

}

.introduce__name {
	margin-right: 15px;

	font-family: "PT Sans Regular";
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-align: left;
	text-transform: uppercase;
}

.introduce__input {
	padding: 16px 22px;

	width: 100%;
	font-family: "PT Sans Bold";
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	border: none;
	background-color: #f2f2f2;

	box-sizing: border-box;
	outline: none;

	&::placeholder {
		font-family: "PT Sans Bold";
		font-size: 18px;
		line-height: 26px;
		font-weight: bold;
		color: #000000;
	}

	&:hover {
		background-color: #E5E5E5;
	}

	&:focus {
		background: none;
		outline: 4px solid #E5E5E5;
		outline-offset: -4px;
	}
}

.comments__contacts {
	margin-bottom: 28px;
}

.contacts__list {
	.list-reset;
	margin-top: 22px;
}

.contacts__item {
	margin-bottom: 12px;

	&:last-child {
		margin-bottom: 0;
	}
}

.contacts__name {
	margin-left: 22px;
	margin-bottom: 9px;

	display: block;

	font-family: "PT Sans Regular";
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-align: left;
	text-transform: uppercase;
}

.contacts__input {
	padding: 16px 80px 16px 22px;

	width: 100%;
	font-family: "PT Sans Bold";
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	border: none;
	background-color: #f2f2f2;

	box-sizing: border-box;

	&::placeholder {
		font-family: "PT Sans Bold";
		font-size: 18px;
		line-height: 26px;
		font-weight: bold;
		color: #000000;
	}

	&[name="phonenumber"] {
		background-image: url(../img/icon-phone.svg), linear-gradient(to bottom, #e6e6e6, #e6e6e6);
		background-repeat: no-repeat;
		background-position: right 18px center, top right;
		background-size: 18px 18px, 58px 58px;
	}

	&[name="email"] {
		background-image: url(../img/icon-email.svg), linear-gradient(to bottom, #e6e6e6, #e6e6e6);
		background-repeat: no-repeat;
		background-position: right 20px center, top right;
		background-size: 18px 18px, 58px 58px;
	}

	&:hover {
		background-color: #E5E5E5;
	}

	&:focus {
		background-color: #ffffff;
		outline: 4px solid #E5E5E5;
		outline-offset: -4px;
	}
}

.impression__list {
	.list-reset;
	margin-top: 41px;

}

.impression__item {
	position: relative;
	margin-bottom: 44px;
	padding-left: 80px;

	cursor: pointer;

	&:last-child {
		margin-bottom: 40px;
	}
}

.impression__name {
	display: block;

	font-family: "PT Sans Bold";
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-align: left;

	cursor: pointer;
}

.filter-input-radio {
	& + label::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		width: 48px;
		height: 48px;

		border: 5px solid #f2f2f2;

		background-color: #f2f2f2;
		border-radius: 50%;
	}

	&:hover + label::before,
	&:focus + label::before {
		border: 5px solid #E5E5E5;
		background-color: #E5E5E5;
	}

	&:active + label::before {
		border: 5px solid #D5D5D5;
		background-color: #D5D5D5;
	}
}


.filter-input-radio {
	&:checked + label::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 17px;
		transform: translateY(-50%);

		width: 18px;
		height: 18px;

		border: 3px solid #333333;

		background-color: #333333;
		border-radius: 50%;
	}

	&:active + label::after {
		opacity: 0.3;
	}
}

.places__list {
	.list-reset;
	margin-top: 33px;
}

.places__item {
	position: relative;
	margin-bottom: 57px;
	padding-left: 80px;

	cursor: pointer;

	&:last-child {
		margin-bottom: 38px;
	}
}

.places__name {
	display: block;

	font-family: "PT Sans Bold";
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-align: left;

	cursor: pointer;
}

.filter-input-checkbox {
	& + label::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		width: 56px;
		height: 56px;

		background-color: #f2f2f2;
		border-radius: 5px;
	}

	&:hover + label::before,
	&:focus + label::before {
		background-color: #E5E5E5;
	}

	&:active + label::before {
		background-color: #D5D5D5;
	}
}

.filter-input-checkbox {
	&:checked + label::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 17px;
		transform: translateY(-50%);

		width: 24px;
		height: 17px;

		background-image: url("../img/icon-checkbox.svg");
	}

	&:active + label::after {
		opacity: 0.3;
	}
}

.emotions__input {
	margin-top: 20px;
	padding: 18px 24px;

	width: 100%;
	height: 160px;

	font-family: "PT Sans Bold";
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	background-color: #f2f2f2;
	border: none;
	box-sizing: border-box;
	resize: none;

	&::placeholder {
		font-family: "PT Sans Bold";
		font-size: 18px;
		line-height: 26px;
		font-weight: bold;
		color: #000000;
	}

	&:hover {
		background-color: #E5E5E5;
	}

	&:focus {
		background: none;
		outline: 4px solid #E5E5E5;
		outline-offset: -4px;
	}
}

.comments__submit-wrapper {
	margin: 51px 0px 37px;
	padding: 0px 20px;
}

.comments__button {
	padding: 16px 20px;

	display: block;
	width: 100%;

	font-family: "PT Sans Bold";
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #81b3d2;
	border: none;

	box-sizing: border-box;

	cursor: pointer;

	&:hover,
	&:focus {
		background-color: #669EC0;
	}

	&:active {
		color: rgba(255, 255, 255, 0.3);
		background-color: #5496BD;
	}

	&:disabled {
		background-color: #E5E5E5;
	}
}

.comments__required-fields {
	display: none;
}

.places__title-br {
	display: none;
}

@media (min-width:@tablet-width) {
	.comments__text-wrapper {
		padding-bottom: 0;
	}

	.comments__title {
		font-size: 30px;
		margin-bottom: 35px;
	}

	.comments__form {
		margin: 76px auto 0 auto;
		padding: 0px 60px;

		max-width: 960px;

		flex-direction: row;
		flex-wrap: wrap;
	}

	.introduce__order {
		position: relative;

		margin-left: auto;

		width: 41.291%;

		&::after {
			content: "";
			position: absolute;

			top: 0;
			left: -57px;
			width: 1px;
			height: 100%;

			background-color: #dbdbdb;
		}

		@media (min-width:960px) {
			&::after {
				content: "";
				position: absolute;

				top: 0;
				left: -79px;
				width: 1px;
				height: 100%;

				background-color: #dbdbdb;
			}
		}
	}

	.introduce__list {
		margin-top: 60px;
	}

	.contacts__order {
		margin-top: 72px;

		width: 100%;
	}

	.comments__contacts {
		border-top: 1px solid #dbdbdb;

		& > legend {
			width: 398px;

			background-color: #ffffff;
		}
	}

	.impression__order {
		position: relative;

		width: 42%;

		order: -1;
	}

	.impression__list {
		margin-top: 75px;
	}

	.impression__item {
		margin-bottom: 52px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.introduce__form-title,
	.impression__form-title {
		text-align: left;
	}

	.places__order {
		width: 100%;

		margin-top: 21px;
	}

	.comments__places {
		border-top: 1px solid #dbdbdb;

		& > legend {
			width: 398px;

			background-color: #ffffff;
		}
	}

	.places__title-br {
		display: block;
	}

	.places__list {
		margin: 58px auto 0px;
		width: 460px;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.places__item {
		margin-bottom: 64px;
		width: 44%;

		box-sizing: border-box;

		&:last-child {
			margin-bottom: 64px;
		}
	}

	.emotions__order {
		margin-top: 21px;
		width: 100%;
	}

	.comments__emotions {
		border-top: 1px solid #dbdbdb;

		& > legend {
			width: 398px;

			background-color: #ffffff;
		}
	}

	.emotions__input {
		margin-top: 60px;
	}

	.comments-wrapper {
		padding-top: 0;

		border: 0;
	}

	.comments__fieldset {
		padding: 0px;
	}

	.comments__form-title {
		font-size: 21px;
	}

	.comments__submit-wrapper {
		margin: 58px 0px 44px;
		padding: 0;

		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.comments__button {
		width: 324px;
	}

	.comments__required-fields {
		display: block;

		font-family: "PT Sans Regular";
		font-size: 14px;
		line-height: 26px;
		font-weight: normal;
		color: #333333;
		text-transform: uppercase;
	}
}

@media (min-width:@desktop-width) {
	.contacts__name-desktop {
		display: none;
	}

	.contacts__list {
		margin-top: 77px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.contacts__item {
		margin-bottom: 0;

		display: flex;
		align-items: center;
	}

	.contacts__name {
		margin: 0;
		margin-right: 17px;
	}

	.contacts__input {
		width: 315px;
	}

	.places__order {
		margin-top: 27px;
	}

	.places__list {
		width: 100%;

		justify-content: flex-start;
	}

	.places__item {
		width: 25%;
	}

	.comments__button {
		width: 480px;
	}
}
