.features__wrapper {
	max-width: 500px;
	padding: 0px 25px;
	margin: 39px auto 42px;
}

.features__city {
	display: block;
	margin-bottom: 29px;

	font-family: "PT Sans Bold";
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.features__reason {
	.text-reset;

	font-family: "PT Sans Regular";
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
}

.features__list {
	.list-reset;
}

.features__title {
	.text-reset;

	font-family: "PT Sans Bold";

	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}
