.main-nav {
	position: relative;
}

.main-nav {
	order: -1;
}

@media (max-width:767px) {
	.main-nav--opened .main-nav__list {
		display: block;
	}

	.main-nav--closed .main-nav__list {
		display: none;
	}
}

.main-nav__wrapper {
	background-color: #81b3d2;
}

.main-nav__list {
	.list-reset;
}

.site-list__item {
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px 0px rgba(1, 1, 1, 0.2);

	a {
		display: block;
		padding: 7px 25px;

		font-family: "PT Sans Bold";
		font-size: 18px;
		line-height: 40px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		color: #ffffff;
		text-align: center;
	}

	&:first-child {
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px 0px rgba(1, 1, 1, 0.2);
	}

	&:last-child {
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 4px 0px rgba(1, 1, 1, 0.2);
	}
}

.main-nav__toggle {
	position: absolute;
	top: 17px;
	right: 20px;

	display: block;
	padding: 0;
	width: 23px;
	height: 21px;

	background: none;
	border: none;

	z-index: 3;
}

.main-nav--closed .main-nav__toggle {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;

		width: 23px;
		height: 4px;

		background-color: #81b3d2;

		box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
	}
}

.main-nav--opened .main-nav__toggle {
	&::before {
		content: "";
		position: absolute;
		top: -3px;
		right: 9.5px;

		width: 4px;
		height: 28px;

		background-color: #ffffff;
		transform: rotate(45deg);
	}

	&::after {
		content: "";
		position: absolute;
		top: -3px;
		right: 9.5px;

		width: 4px;
		height: 28px;

		background-color: #ffffff;
		transform: rotate(-45deg);
	}
}

//no-js
.main-nav--nojs {
	.main-nav__list {
		display: block;
	}

	.main-nav__toggle {
		display: none;
	}
}

//no-js

@media (min-width:@tablet-width) {
	.page-header__logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.main-nav__toggle {
		display: none;
	}

	.main-nav__wrapper {
		background-color: transparent;
	}

	.main-nav__list {
		min-height: 56px;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.site-list__item {
		width: 20%;

		box-shadow: none;

		a {
			font-size: 14px;
			line-height: 26px;
			color: #000000;
		}

		&:nth-child(-n+8) {
			width: 20.1%;
		}

		&:nth-child(3),
		&:nth-child(7) {
			margin-left: 19.6%;
		}

		&:first-child {
			box-shadow: none;
		}

		&:last-child {
			box-shadow: none;
		}
	}
}
