.photos__data-wrapper {
	padding: 40px 20px 30px;
}

.photos__title {
	.text-reset;
	margin-bottom: 28px;

	font-family: "PT Sans Bold";
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.photos__desc {
	.text-reset;

	font-family: "PT Sans Regular";
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
}

.photos__list {
	.list-reset;

	display: flex;
	flex-direction: column;
}

.photos__item {
	display: flex;
	justify-content: center;

	padding: 22px 0px 17px;

	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.photos_wrapper-picture {
	.text-reset;
	margin-bottom: 12px;
	font-size: 0;
	line-height: 0;
}

.photos__title-picture {
	.text-reset;
	margin-bottom: 2px;

	font-family: "PT Sans Bold";
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	text-align: left;
}

.photos__author-name {
	.text-reset;
	margin-bottom: 9px;

	display: block;
	font-family: "PT Sans Regular";
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #333333;
	text-align: left;
}

.photos__like-wrapper {
	display: flex;
	align-items: center;
}

.like__button {
	margin: 0;
	padding: 0;

	border: 0;
	background: 0;
}

.photos__count {
	position: relative;

	display: block;
	margin-left: 16px;

	font-family: "PT Sans Bold";
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #000000;
}
